# Окружение Python (Самое важное! Эту папку нельзя пушить)
venv/
.venv/
env/
PYTHON_ENV/

# Кэш Python (ускоряет работу, но на Гитхабе не нужен)
**/__pycache__/
*.py[cod]
*$py.class

# Настройки IDE (PyCharm)
.idea/
.vscode/
*.swp

# Локальные настройки и секреты (пароли, API-ключи)
.env
auth.json

# Базы данных (если используешь SQLite локально)
*.sqlite3
*.db

# Логи (отчеты об ошибках)
*.log